html {
  font-size: 80px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: https://fonts.googleapis.com/css?family=Open+Sans;
  margin: 0;
  padding: 0;
  border: 0;
  }

.page_all {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header {
	display: grid;
	grid-template-rows: 50px 50px;
	grid-template-columns: 50px 50px;
	color: red;
	background-color: #f9f9f9;
}

.header_logo {

}

.header_search {

}

.header_grid {

}

.header_sign_in {

}

.nav_bar {
	color: green;
	background-color: #f9f9f9;
	border-bottom: 1px solid rgb(240,240,240);
}

.nav_bar_button {

}

.nav_bar_button #nav_bar_button_all {

}

.nav_bar_button #nav_bar_button_videos {
	
}

.nav_bar_button #nav_bar_button_news {
	
}

.nav_bar_button #nav_bar_button_shopping {
	
}

.nav_bar_button #nav_bar_button_maps {
	
}

.nav_bar_button #nav_bar_button_more {
	
}

.nav_bar_button #nav_bar_button_settings {
	
}

.nav_bar_button #nav_bar_button_tools {
	
}

.up_res {
	color: purple;
}

.up_res_num_res {

}

.up_res_top_res_box {

}

.all_res {
	color: yellow;
}

.all_res_res {

}

.all_res_res #all_res_res1 {

}

.all_res_res #all_res_res3 {

}

.all_res_res #all_res_res4 {

}

.all_res_res #all_res_res5 {

}

.all_res_res #all_res_res6 {

}

.all_res_res #all_res_res7 {

}

.all_res_res #all_res_res8 {

}

.all_res_res #all_res_res9 {

}

.all_res_res #all_res_res10 {

}

.rel_srch {
	color: pink;
}

.rel_srch_head {

}

.rel_srch_box {

}

.rel_srch_box #rel_srch_box_left {

}

.rel_srch_box #rel_srch_box_right {

}

.pg_res {
	color: brown;
}

.pg_res_logo {

}

.pg_res_num {

}

.footer {
	color: black;
	background-color: #f9f9f9;
	border-top: 1px solid rgb(240,240,240)
}

.footer_lctn {

}

.footer_help {

}

.footer_fdbck {

}

.footer_priv {

}

.footer_terms {
	
}